<%- include('../partials/header') -%>
<!-- Main section -->
<main>
  
    <!-- New member form -->
    <h2>Ajouter un(e) Argonaute</h2>
    <form class="new-member-form" action="/add" method="post">
      <label for="name">Nom de l&apos;Argonaute</label>
      <input id="name" name="name" type="text" placeholder="Charalampos" />
      <button type="submit">Envoyer</button>
    </form>
    
    <!-- Member list -->

    <h2>Membres de l'équipage</h2>

    <% if(characters) {%>
    <ul>
      <% characters.forEach((char) => { %>
        <li><a href="/delete/<%= char._id %>"> X</a><%= char.name %></li>
      <% }); %>
    </ul>
    <% } %>
  </main>
<%- include('../partials/footer') -%>